body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.z99 {
    z-index: 99;
}

.z0 {
    z-index: 0;
}

.dropdown.show .dropdown-menu[x-placement="bottom-start"] {
    transform: translate3d(0, 60px, 0) !important;
    bottom: auto !important;
    top: 0 !important;
}

@media screen and (max-width: 991px) {
    .dropdown.show .dropdown-menu[x-placement="bottom-start"] {
        position: static !important;
        transform: translate3d(0, 0px, 0) !important;
        bottom: auto !important;
        top: 0 !important;
    }
}

